<p>card works!</p>

<div class="card_wrap">
  <div class="card--left">
    <div class="card__avatar">
      <div class="card__avatar-countries">
        <ng-container *ngFor="let country of countryFlags" >
         <!--  {{country.top}}
          {{country.right}} -->
          <!-- <div style="position: absolute; top: 55px; left:55px; color: white">X</div> -->
          <!-- <div class="tempX" [style]="{top: country.top, left: country.left}">X</div> -->
          <img class="card__avatar-countries-img" [style]="{top: country.top, left: country.left}"
            [src]="country.flag || 'https://img.icons8.com/ios/2x/horizontal-flag.png'"
            alt="picture">
        </ng-container>
      </div>

      <img class="card__avatar-picture" [src]="data.avatar || '../../../assets/no-avatar.png'" alt="picture">

    </div>
  </div>

  <div class="card--right">

    <mat-icon class="card-header__edit" mat-list-icon>edit</mat-icon>

    <div class="card-header">

      <div class="card-header__name-wrap">
        <b class="card-header__name">{{data.header.name}}</b>
        <mat-icon class="card-header__verified" *ngIf="data.header.verified" mat-list-icon>verified_user</mat-icon>
      </div>

      <div class="card-header__stars">
        <div *ngFor="let star of starCount; let idx=index;">
          <mat-icon class="card-header__star" *ngIf="star===1" mat-list-icon>star</mat-icon>
          <mat-icon class="card-header__star" *ngIf="star===0" mat-list-icon>star_half</mat-icon>
        </div>
        <a class="card-header__reviews" href="http://" target="_blank">{{data.header.reviewCounts}} Reviews</a>
      </div>
    </div>
    <div class="card-body">
      <div class="card-body__description">
        {{data.body.description}}
      </div>

      <div class="card-body__location">
        <mat-icon class="card-body__location__icon" mat-list-icon>location_on</mat-icon>
        {{data.body.location.city}} , {{data.body.location.country}}
      </div>
    </div>
  </div>
</div>

<!-- <div style="position: relative;">
  <ng-container *ngFor="let country of countryFlags" >
     <img class="card__avatar-countries-img1"
       [style]="{top: country.top, left: country.right}"
       [src]="country.flag"
       alt="picture">
   </ng-container>
</div> -->
