.card_wrap {
  display: flex;
  flex-direction: row;

  width: 395px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
}

.card--left {
  width: 40%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__avatar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 140px;
  height: 140px;
}

.card__avatar-countries {
  position: relative;
  width: 1px;
  height: 1px;
}

.card__avatar-countries-img {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-left: 14px;
  position: absolute;
  border: 1px solid lightgrey;
}

.card__avatar-picture {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: 15px 0 0 15px;
}

.card__avatar__edit-wrap {
  position: absolute;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  /*background: lightsteelblue;*/
  right: 25px;
  top: 20px;
}

.card__avatar__edit {
  font-size: 12px;
  margin-top: -7px;
  color: white;
}

.card--right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-header__edit {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 16px;
  /*color: #4C547B;*/
}

.card-header__name-wrap {
  width: 143px;
  height: 48px;
  margin-top: 24px;
  margin-bottom: 5px;
  position: relative;
}

.card-header__name {
  font-size: 20px;
  margin-top: 20px;
  color: rgba(0, 31, 61, 0.9);
}

.card-header__verified {
  height: 15px;
  color: #47B4B9;
  margin-left: 5px;
  position: absolute;
  top: -5px;
  right: -30px;
  font-size: 15px;
}

.card-header__stars {
  max-width: 160px;
  height: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.card-header__stars mat-icon {
  color: #DC1800;
  font-size: 14px;
  width: 18px;
}

.card-header__reviews {
  font-size: 10px;
  margin-left: 5px;
  color: lightsteelblue;
}

.card-body {
  max-width: 90%;
}
.card-body__description {
  max-width: 200px;
  max-height: 44px;
  font-size: 12px;
  color:rgba(20, 40, 61, 0.8);
}

.card-body__location {
  font-size: 9px;
  margin-top: 10px;
  /* color:#001F3D; */
  color: lightsteelblue;
}

.card-body__location__icon {
  font-size: 10px;
  width: 14px;
}

