<p>card works!</p>

<div class="card_wrap">
  <div class="card--left">
    <div class="card__avatar">
      <div class="card__avatar-countries">
        <ng-container *ngFor="let country of visibleCountryFlags" >
          <img class="card__avatar-countries-img" [style]="{top: country.top, left: country.left}"
            [src]="country.flag || 'https://img.icons8.com/ios/2x/horizontal-flag.png'"
            alt="picture">
        </ng-container>
      </div>

      <img class="card__avatar-picture" [src]="data.avatar || '../../../assets/no-avatar.png'" alt="picture">
      <button mat-mini-fab color="primary" class="card__avatar__edit-wrap" (click)="onChangeCountries()">
        <mat-icon class="card__avatar__edit" >edit</mat-icon>
      </button>
    </div>
  </div>

  <div class="card--right">

    <button mat-icon-button color="primary" class="card-header__edit" (click)="onEdit()">
      <mat-icon class="card-header__edit">edit</mat-icon>
    </button>

    <div class="card-header">

      <div class="card-header__name-wrap">
        <b class="card-header__name">{{data.header.name}}</b>
        <mat-icon class="card-header__verified" *ngIf="data.header.verified" mat-list-icon>verified_user</mat-icon>
      </div>

      <div class="card-header__stars">
        <div *ngFor="let star of starCount; let idx=index;">
          <mat-icon class="card-header__star" *ngIf="star===1" mat-list-icon>star</mat-icon>
          <mat-icon class="card-header__star" *ngIf="star===0" mat-list-icon>star_half</mat-icon>
        </div>
        <a class="card-header__reviews" href="javascript:void(0)">{{data.header.reviewCounts}} Reviews</a>
      </div>
    </div>
    <div class="card-body">
      <div class="card-body__description">
        {{data.body.description}}
      </div>

      <div class="card-body__location">
        <mat-icon class="card-body__location__icon" mat-list-icon>location_on</mat-icon>
        {{data.body.location.city}} , {{data.body.location.country}}
      </div>
    </div>
  </div>
</div>
